ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #222;
 }
 
 li {
   float:left;
 }
 
 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 16px 18px;
   text-decoration: none;
 }
 
 li a:hover {
   background-color: #505050;
 }
 li {
   font-family: 'Arial Narrow';
 }
 li {
    font-size: medium ;
 }
 li {
   text-align: center;
 }